# http://colorschemedesigner.com/#0W21Tw0w0w0w0
#
# Primary Color:
#
# FFA900    BF8F30    A66E00    FFBE40    FFCF73
#
# Complementary Color:
#
# 1142AA    2A4580    06276F    4573D5    6C8DD5
#
####


p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  color: #A66E00;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  color: #A66E00;
}

body {
  margin: 2px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #A66E00;
  background-color: #FFBE40;
}

table {
  margin: 2px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #06276F;
}

table th {
  color: #1142AA;
}

.redtext {
  color: #2A4580;
}

a {
  color: #2A4580;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 4px 2px 4px;
}

a:link {
  color: #2A4580;

}

a:visited {
  color: #2A4580;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background-color: #FFCF73;
}

a:active {
  text-decoration: none;
}

.tags {
  padding: 2px 4px 2px 4px;
  background-color: #white;
  color: #A66E00;
  font-style: italic;
  font-weight: bold;
}
