# Previously this. Now use named colors from colors.css
#
# http://colorschemedesigner.com/#0W21Tw0w0w0w0
#
# Primary Color:
#
# FFA900    BF8F30    A66E00    FFBE40    FFCF73
#
# Complementary Color:
#
# 1142AA    2A4580    06276F    4573D5    6C8DD5

p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.0em;
  color: var(--deep-taupe);
}

h1 {
    background: var(--slate-gray);
    /* box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5); */
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 18px 0 !important;
    padding: 12px 0 5px 5px;
}

body {
  margin: 2px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: var(--slate-gray);
  background-color: var(--aquamarine-light );
}

table {
  margin: 2px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: var(--deep-taupe);
}

table th {
  color: var(--deep-taupe);
}

.redtext {
  color: #2A4580;
}

a {
  color: var(--slate-gray);
  text-decoration: none;
  font-weight: bold;
  padding: 2px 4px 2px 4px;
}

a:link {
  color: var(--slate-gray);

}

a:visited {
  color: var(--slate-gray);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background-color: var(--umber);
}

a:active {
  text-decoration: none;
}

.tags {
  padding: 2px 4px 2px 4px;
  background-color: #white;
  color: var(--umber);
  font-style: italic;
  font-weight: bold;
}
