/*https://coolors.co/7ae7c7-75bba7-6c809a-795663-645244*/

/*
 Previously this. Now use named colors from colors.css
 http://colorschemedesigner.com/0W21Tw0w0w0w0
 Primary Color:
 FFA900    BF8F30    A66E00    FFBE40    FFCF73
 Complementary Color:
 1142AA    2A4580    06276F    4573D5    6C8DD5
*/

:root {
    /* CSS HEX */
    --aquamarine: #7ae7c7ff;
    --aquamarine-light: #7ae7c744;
    --green-sheen: #75bba7ff;
    --slate-gray: #6c809aff;
    --deep-taupe: #795663ff;
    --deep-taupe-light: #79566322;
    --umber: #645244ff;
    --grey-light: #f2f2f2ff;

    /* SCSS Gradient */
    $ gradient-top: linear-gradient(0deg, #7ae7c7ff, #75bba7ff, #6c809aff, #795663ff, #645244ff);
    $ gradient-right: linear-gradient(90deg, #7ae7c7ff, #75bba7ff, #6c809aff, #795663ff, #645244ff);
    $ gradient-bottom: linear-gradient(180deg, #7ae7c7ff, #75bba7ff, #6c809aff, #795663ff, #645244ff);
    $ gradient-left: linear-gradient(270deg, #7ae7c7ff, #75bba7ff, #6c809aff, #795663ff, #645244ff);
    $ gradient-top-right: linear-gradient(45deg, #7ae7c7ff, #75bba7ff, #6c809aff, #795663ff, #645244ff);
    $ gradient-bottom-right: linear-gradient(135deg, #7ae7c7ff, #75bba7ff, #6c809aff, #795663ff, #645244ff);
    $ gradient-top-left: linear-gradient(225deg, #7ae7c7ff, #75bba7ff, #6c809aff, #795663ff, #645244ff);
    $ gradient-bottom-left: linear-gradient(315deg, #7ae7c7ff, #75bba7ff, #6c809aff, #795663ff, #645244ff);
    $ gradient-radial: radial-gradient(#7ae7c7ff, #75bba7ff, #6c809aff, #795663ff, #645244ff);
}