/*
 Previously this. Now use named colors from colors.css
 http://colorschemedesigner.com/0W21Tw0w0w0w0
 Primary Color:
 FFA900    BF8F30    A66E00    FFBE40    FFCF73
 Complementary Color:
 1142AA    2A4580    06276F    4573D5    6C8DD5
*/


body {
    margin: 1px;
    font-family: sans-serif;
    color: var(--slate-gray);
    #background-color: var(--aquamarine-light);
}

p {
    font-family: sans-serif;
    font-size: 1.0em;
    color: var(--deep-taupe);
}

.column {
    float: left;
    width: 50%;
}

.two-column-row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    background: var(--slate-gray);
    /* box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5); */
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 18px 0 !important;
    padding: 12px 0 5px 5px;
}


h2 {
    background: var(--umber);
    /* box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5); */
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin: 18px 0 !important;
    padding: 12px 0 5px 5px;
}

input[type=text] {
  font-family: sans-serif;
  font-size: 1.0em;
  width: 100%;
  padding: 7px 12px;
  margin: 12px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 7px 12px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-family: sans-serif;
  font-size: 1.0em;
  #resize: none;
}

select {
  font-family: sans-serif;
  font-size: 1.0em;
  width: 100%;
  padding: 7px 12px;
  margin: 12px 0;
  box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: var(--deep-taupe);
  border: none;
  color: white;
  font-family: sans-serif;
  font-size: 1.0em;
  padding: 12px 18px;
  #text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
}

.styled-table {
    width: 97%;
    border-collapse: collapse;
    margin: 25px 20px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: var(--green-sheen);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    vertical-align: top;
    word-wrap: break-word;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--aquamarine-light);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--green-sheen);
}

.styled-table tbody tr.summary-row {
    font-weight: bold;
    border-top: 2px solid var(--green-sheen);
    color: var(--deep-taupe);
}

.styled-inner-table {
    border-collapse: collapse;
    margin: 25px 20px;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    min-width: 400px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.styled-inner-table thead tr {
    background-color: white;
    color: var(--deep-taupe);
    text-align: left;
}

.styled-inner-table th,
.styled-inner-table td {
    padding: 12px 15px;
    word-wrap: break-word;
}

.styled-inner-table tbody tr {
    border-bottom: 1px solid var(--deep-taupe);
}

.styled-inner-table tbody tr:nth-of-type(even) {
    background-color: var(--deep-taupe-light);
}

.styled-inner-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--deep-taupe);
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--deep-taupe);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 22px;
    text-decoration: none;
    font-size: 1.2em;
}

.topnav a:hover {
    background-color: var(--slate-gray);
    color: var(--aquamarine);
}

.topnav a:active {
    background-color: var(--green-sheen);
    color: white;
}

.redtext {
    color: #2A4580;
}

a {
    color: var(--slate-gray);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 4px 2px 4px;
}

a:link {
    color: var(--slate-gray);
}

a:visited {
    color: var(--slate-gray);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: var(--umber);
}

a:active {
    text-decoration: none;
}

.tags {
    padding: 2px 4px 2px 4px;
    background-color: #white;
    color: var(--umber);
    font-style: italic;
    font-weight: bold;
