
body {
    margin: 4px;
    font-family: sans-serif;
    color: var(--slate-gray);
}

p {
    font-family: sans-serif;
    font-size: 1.0em;
    color: var(--deep-taupe);
    margin: 10px;
}

.columns {
    /*display: grid;
    grid-template-columns: 1fr 1fr;*/
    column-count: 2;
    column-rule: 2px solid var(--slate-gray);
    gap: 1px;
}


.column1 {
    break-after: column;
}


.column {
    float: left;
    width: 50%;
}

.two-column-row:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    background: var(--slate-gray);
    color: var(--gray-light);
    font-family: sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    height: 25px;
    line-height: 22px;
    margin: 0 0;
    /*margin: 18px 0 !important;*/
    padding: 8px 21px;
}

h2 {
    background: var(--umber);
    /* box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5); */
    color: var(--gray-light);
    font-family: sans-serif;
    font-size: 1.0em;
    font-weight: bold;
    height: 20px;
    line-height: 18px;
    padding: 5px;
    margin: 3px 0 !important;
}

input[type=text] {
    font-family: sans-serif;
    font-size: 1.0em;
    border: 1px solid #ccc; /* Define a border */
    border-radius: 7px; /* Round the corners */
    width: 80%;
    padding: 3px 7px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 7px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: var(--gray-light);
    font-family: sans-serif;
    font-size: 1.0em;
    #resize: none;
}

select {
    font-family: sans-serif;
    font-size: 1.0em;
    width: 100%;
    padding: 7px 12px;
    margin: 12px 0;
    box-sizing: border-box;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: var(--deep-taupe);
    border: none;
    color: white;
    font-family: sans-serif;
    font-size: 1.0em;
    border: 1px solid #ccc; /* Define a border */
    border-radius: 7px; /* Round the corners */
    padding: 10px 16px;
    #text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.book-id-button {
    border: 1px solid #ccc; /* Define a border */
    border-radius: 7px; /* Round the corners */
    width: 60px;
    height: 22px;
}

.form {
    border-radius: 5px;
    background-color: var(--gray-light);
    padding: 40px;
}

.styled-table {
    width: 92%;
    /* border-collapse: collapse; */
    border: 1px solid #bbb; /* Optional: adds a border around the whole table */
    border-radius: 10px; /* Sets the general roundness */
    border-collapse: separate; /* Allows border-radius to work */
    border-spacing: 0; /* Removes space between cells */
    overflow: hidden; /* Clips internal content to the rounded border */
    margin: 20px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: var(--green-sheen);
    color: #ffffff;
    text-align: left;
}

.styled-table th {
    padding: 12px 12px;
    vertical-align: bottom;
    word-wrap: break-word;
    font-size: 1em;
}


.styled-table td {
    padding: 10px 12px;
    vertical-align: top;
    word-wrap: break-word;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--aquamarine-light);
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--green-sheen);
}

.styled-table tbody tr.summary-row {
    font-weight: bold;
    border-top: 4px solid var(--slate-gray);
    color: var(--deep-taupe);
}

.styled-inner-table {
    border-collapse: collapse;
    margin: 25px 20px;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 97%;
    min-width: 400px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.styled-inner-table thead tr {
    background-color: white;
    color: var(--deep-taupe);
    text-align: left;
}

.styled-inner-table th,
.styled-inner-table td {
    padding: 12px 15px;
    word-wrap: break-word;
}

.styled-inner-table tbody tr {
    border-bottom: 1px solid var(--deep-taupe);
}

.styled-inner-table tbody tr:nth-of-type(even) {
    background-color: var(--deep-taupe-light);
}

.styled-inner-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--deep-taupe);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--deep-taupe);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: var(--gray-light);
    text-align: center;
    padding: 12px 22px;
    text-decoration: none;
    font-size: 1.0em;
}

.topnav .version {
    float: right;
    color: var(--gray-light);
    text-align: center;
    padding: 12px 22px;
    text-decoration: none;
    font-size: 1.0em;
}

.topnav a:hover {
    background-color: var(--slate-gray);
    color: var(--gray-light);
    text-decoration: none;
}

.topnav a:active {
    background-color: var(--green-sheen);
    color: var(--gray-light);
    text-decoration: none;
}

.topnav a:visited {
    color: var(--gray-light);
    text-decoration: none;
}

.redtext {
    color: #2A4580;
}

a {
    color: var(--slate-gray);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 4px 2px 4px;
}

a:visited {
    color: var(--slate-gray);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: var(--umber);
    color: var(--gray-light);
}

a:active {
    text-decoration: none;
}

/*
.tags {
    padding: 2px 2px ;
    background-color: #white;
    color: var(--umber);
    font-style: italic;
    font-weight: bold;
}
*/